body {
    font-family: Cabin;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgb(89, 67, 54);
}

.dt-buttons {
    padding: 0.5em;
}

.dt-search {
    padding: 0.5em;
}

.dt-info {
    padding-top: 0.5em;
    padding-bottom: 1em;
}