@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: Cabin;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgb(89, 67, 54);
    padding: 0.5%;
}

.dt-buttons {
    padding: 0.5em;
}

.dt-search {
    padding: 0.5em;
    text-align: right;
}

.dt-info {
    padding-top: 0.5em;
    padding-bottom: 1em;
}